.button {
  border-radius: 10px;
  padding: 0.75rem 3rem;
  background: transparent;
  border: 1px solid black;
  font-weight: 200;
  font-family: var(--freya-ui-font-family);
  font-size: var(--freya-ui-font-size);
  line-height: 1.5em;
  caret-color: transparent;
  cursor: pointer;
  transition: 0.3s;

  &.primary {
    background: var(--freya-ui-button-background);
    color: var(--freya-ui-button-text-color);
    &:hover {
      background: #7c8df3;
    }
  }
}
