:root {
  // Fonts
  --freya-ui-font-family: 'Outfit', sans-serif;
  --freya-hub-font-size: 16px;
  // Colors
  --freya-ui-bg-color: #393a4c;
  --freya-ui-panel-color: #2b2c3b;
  --freya-ui-font-color: #ffffff;

  // Buttons
  --freya-ui-button-background: #6a7ce9;
  --freya-ui-button-text-color: #ffffff;

  // Text Input
  // Label
  --freya-ui-text-input-label-color: #ffffff;
  // Input
  --freya-ui-text-input-background: #3f4054;
  --freya-ui-text-input-text-color: #ffffff;
  --freya-ui-text-input-placeholder-color: #767676;
  --freya-ui-text-input-border-hover: #6a7ce9;
  // Icon
  --freya-ui-text-input-icon-color: #767676;
  --freya-ui-text-input-icon-active-color: #6a7ce9;
}
