:root {
  // Fonts
  --freya-ui-font-family: 'Outfit', sans-serif;
  --freya-hub-font-size: 16px;
  // Colors
  --freya-ui-bg-color: #393A4C;
  --freya-ui-panel-color: #2B2C3B;
  --freya-ui-font-color: #FFFFFF;
}