@import './breakpoints';

:root {
  // Fonts
  --freya-ui-font-family: 'Outfit', sans-serif;
  --freya-ui-font-size: 14px;
  // Colors
  --freya-ui-bg-color: #393a4c;
  --freya-ui-panel-color: #2b2c3b;
  --freya-ui-font-color: #ffffff;

  // Buttons
  --freya-ui-button-background: #6a7ce9;
  --freya-ui-button-text-color: #ffffff;

  // Text Input
  // Label
  --freya-ui-text-input-label-color: #ffffff;
  // Input
  --freya-ui-text-input-background: #3f4054;
  --freya-ui-text-input-text-color: #ffffff;
  --freya-ui-text-input-placeholder-color: #767676;
  --freya-ui-text-input-border-hover: #6a7ce9;
  // Icon
  --freya-ui-text-input-icon-color: #767676;
  --freya-ui-text-input-icon-active-color: #6a7ce9;

  // Checkbox
  --freya-ui-checkbox-background-color: #2b2c3b;
  --freya-ui-checkbox-border-color: #3f4054;
  --freya-ui-checkbox-tick-color: #0fcf90;
}

@include breakpoint($mLandscape) {
  :root {
    --freya-ui-font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    --freya-ui-font-size: 14px;
  }
}
