@import '../../styles/breakpoints';
.text-input {
  display: flex;
  flex-flow: column;
  position: relative;
  margin-bottom: 30px;

  label {
    margin-bottom: 1rem;
    color: var(--freya-ui-text-input-label-color);
    font-weight: 200;
  }

  input {
    background-color: var(--freya-ui-text-input-background);
    color: var(--freya-ui-text-input-text-color);
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px 15px;
    font-weight: 200;
    font-family: var(--freya-ui-font-family);
    font-size: var(--freya-ui-font-size);
    line-height: 1.5em;
    transition: 0.3s;

    &:hover,
    &:focus,
    &:focus-visible {
      border: 1px solid var(--freya-ui-text-input-border-hover);
      outline: none;
    }

    &::placeholder {
      color: var(--freya-ui-text-input-placeholder-color);
    }
  }

  .icon {
    position: absolute;
    right: 15px;
    top: 48px;
    color: var(--freya-ui-text-input-icon-color);
    cursor: pointer;
    transition: 0.3s;
    @include breakpoint($mLandscape) {
      right: 20px;
      top: 50px;
    }

    &:hover {
      color: var(--freya-ui-text-input-icon-active-color);
    }
  }
}
